// Заголовки, загальні БЕМ блоки та інше...

.title {
  font-weight: 700;
  @include adaptiveValue("font-size", 24, 19);
  line-height: 129.2%; /* 31/24 */
}

//====================================================================================================

.date {
  &::before {
    content: "\e902";
    @extend %ic;
  }
}

.view {
  &::before {
    content: "\e909";
    @extend %ic;
  }
}

//====================================================================================================

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
  }
  &__link {
    color: #ff1717;
    font-family: Futura PT;
    @include adaptiveValue("font-size", 16, 13);
    font-weight: 700;
    line-height: 130.8%; /* 17/13 */

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @include adaptiveValue("column-gap", 11, 20);
    border-radius: 8px;
    background: rgba(255, 23, 23, 0.05);
    @include adaptiveValue("height", 35, 30);
    padding: toRem(0) toRem(13);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background: rgba(255, 23, 23, 1);
      }
    }

    &::before {
      font-size: toRem(10);
    }
  }
}

//====================================================================================================

.banner-ibg {
  padding-bottom: percent(316, 286);
  border-radius: toRem(20);
  overflow: hidden;

  @media (max-width: em(1120)) {
    padding-bottom: percent(115, 335);
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(4);

  &__item {
    @include adaptiveValue("width", 27, 24);
    @include adaptiveValue("height", 27, 24);
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0s ease 0s;

    color: #c1c1c1;
    @include adaptiveValue("font-size", 16, 13);
    font-weight: 600;
    line-height: 131.3%; /* 21/16 */

    @media (any-hover: hover) {
      &:hover {
        color: #ff1717;
        background-color: rgba(255, 23, 23, 0.06);
      }
    }
    &.active {
      color: #ff1717;
      background-color: rgba(255, 23, 23, 0.06);
    }
  }
}

//========================================================================================================================================================

.page-navigation {
  padding: toRem(5) toRem(20);
  position: fixed;
  width: calc(100% - toRem(30));
  left: toRem(15);
  bottom: toRem(-100);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: toRem(27);

  border-radius: toRem(20);
  background: #fff;
  box-shadow: 0px 1px 17px 0px rgba(114, 108, 108, 0.25);
  transition: all 0.3s ease 0s;
  @media (max-width: $mobile) {
    bottom: toRem(20);
  }

  .menu-open & {
    bottom: toRem(-100);
  }

  &__link {
    padding: toRem(7) 0;
    text-align: center;
    color: #c1c1c1;
    font-size: toRem(13);
    font-weight: 500;
    line-height: 130.8%; /* 17/13 */
    transition: all 0.3s ease 0s;

    &::before {
      font-size: toRem(20);
    }
    &.active {
      color: #ff1717;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #ff1717;
      }
    }
  }
}
