//====================================================================================================
.header {
  &__top {
    max-width: toRem($containerWidth);
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: toRem(12);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: toRem(10);
      margin-top: toRem(25);
    }

    @media (min-width: $mobile) {
      padding-right: toRem(15);
      padding-left: toRem(15);
      padding-top: toRem(7);
      padding-bottom: toRem(4);
    }
  }

  &__top-item {
    color: #c1c1c1;
    font-weight: 500;
    line-height: 131.3%; /* 21/16 */
    padding: toRem(5) toRem(8);

    transition: all 0.3s ease 0s;

    @media (max-width: $mobile) {
      padding-right: 0;
      padding-left: 0;
      font-size: toRem(20);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }

  &__container {
    padding: 0 toRem(9);
    max-width: toRem(1900);

    @media (max-width: $mobile) {
      padding: 0;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    row-gap: toRem(10);
    border-radius: toRem(20);
    background: #fff;

    padding-right: toRem(30);
    padding-left: toRem(30);
    @include adaptiveValue("padding-top", 15, 10);
    @include adaptiveValue("padding-bottom", 15, 10);

    @media (max-width: em(1600)) {
      flex-wrap: wrap;
    }

    @media (min-width: em(1600)) {
      min-height: toRem(86);
    }

    @media (max-width: $pc) {
      padding-right: toRem(26);
      padding-left: toRem(26);
      min-height: toRem(66);
    }

    @media (max-width: $mobile) {
      border-radius: 0 0 toRem(20) toRem(20);
      column-gap: toRem(25);
    }
  }

  &__logo {
    margin-right: toRem(84);
    @include adaptiveValue("margin-right", 84, 20, 0, 1930, 1600);

    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: toRem(14);
    font-size: toRem(25);
    line-height: 136%; /* 34/25 */
    font-weight: 700;
    color: #000;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__menu {
    margin-left: auto;

    @media (max-width: em(1600)) and (min-width: $mobile) {
      flex: 1 1 auto;
      order: 1;
    }
  }

  &__form {
    margin-left: toRem(31);

    @media (max-width: em(1600)) {
      margin-left: auto;
    }

    @media (max-width: $mobile) {
      order: 1;
      margin-left: 0;
    }
  }

  &__language {
    @media (min-width: $mobile) {
      margin-left: toRem(31);
    }
  }

  &__social {
    @media (min-width: $mobile) {
      margin-left: toRem(26);
    }
    @media (max-width: $mobile) {
      margin-top: toRem(15);
    }
  }

  &__icon {
  }
}

.menu {
  &__icon {
  }

  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 88%;
      height: calc(100% - toRem(5));
      top: toRem(5);
      left: -100%;
      overflow: auto;
      background-color: #fff;
      border-radius: 0 toRem(30) toRem(30) 0;
      box-shadow: 0px 1px 17px 0px rgba(53, 52, 52, 0.13);
      z-index: 4;
      padding: toRem(42) toRem(20) toRem(25);

      transition: left 0.3s ease 0s;

      .menu-open & {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: toRem(20);
    row-gap: toRem(5);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: toRem(10);
      margin-top: toRem(40);
    }
  }

  &__item {
  }

  &__link {
    display: inline-block;
    padding: toRem(5);
    font-size: toRem(17);
    line-height: 141.2%; /* 24/17 */
    font-weight: 700;
    transition: all 0.3s ease 0s;

    @media (max-width: $mobile) {
      padding-right: 0;
      padding-left: 0;
      font-size: toRem(20);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #ff1717;
      }
    }
  }

  &__close {
    color: #c1c1c1;
    font-size: toRem(23);
    position: absolute;
    top: toRem(31);
    right: toRem(31);

    @media (min-width: $mobile) {
      display: none;
    }
  }
}

.form-header {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: toRem(15);
  height: toRem(41);

  transition: all 0.3s ease 0s;
  border-radius: 0 toRem(10) toRem(10) 0;

  @media (min-width: $mobile) {
    max-width: toRem(250);
    width: 100%;
    padding: 0 toRem(15);
    background: #f7f8fa;
    border-radius: 10px;
  }

  &__body {
    @media (max-width: $mobile) {
      flex: 1 1 auto;

      position: absolute;
      top: 0;
      right: toRem(-17);
      width: toRem(290);
      height: 100%;
      background: #f7f8fa;
      z-index: 1;

      display: flex;
      align-items: center;
      padding: 0 toRem(52) 0 toRem(17);
      opacity: 0;
      visibility: hidden;

      border-radius: toRem(10);
      transition: all 0.3s ease 0s;
      .open & {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__input {
  }

  &__button {
    @include adaptiveValue("font-size", 20, 18);
    padding: toRem(5);
    color: #c1c1c1;
    z-index: 2;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #ff1717;
      }
    }

    @media (max-width: $mobile) {
      width: toRem(28);
      height: toRem(28);
    }
  }
}

.header-language {
  position: relative;
  font-size: toRem(17);
  font-weight: 700;
  line-height: 129.4%; /* 22/17 */

  display: flex;
  align-items: center;
  column-gap: toRem(7);

  &::before {
    color: #c1c0c0;
    font-size: toRem(25);
  }

  &__current {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: toRem(7);

    &::after {
      content: "\e901";
      @extend %ic;
      font-size: toRem(7);
    }

    @media (any-hover: hover) {
      &:hover {
        & .header-language__list {
          opacity: 1;
          visibility: visible;
          top: calc(100% + toRem(7));
        }
      }
    }
  }

  &__list {
    position: absolute;
    min-width: toRem(98);
    top: calc(100% + toRem(25));
    left: toRem(12);
    border-radius: toRem(10);
    background: #fff;
    box-shadow: 0px 1px 17px 0px rgba(150, 150, 150, 0.15);
    padding: toRem(6) toRem(20) toRem(10);

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: toRem(8);
      top: toRem(-8);
      left: 0;
    }

    .open & {
      opacity: 1;
      visibility: visible;
      top: calc(100% + toRem(7));
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(5);
    }

    & a {
      transition: all 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: #ff1717;
        }
      }
    }
  }
}
.header-social {
  display: flex;
  align-items: center;
  column-gap: toRem(15);
  @media (max-width: $mobile) {
    column-gap: toRem(20);
  }

  &__item {
  }

  &__link {
    color: #c1c1c1;
    font-size: toRem(25);
    transition: all 0.3s ease 0s;

    @media (max-width: $mobile) {
      font-size: toRem(29);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #ff1717;
      }
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(25);
    height: toRem(18);
    // z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(4);
      background-color: #353434;
      border-radius: toRem(2);
    }
    &::before {
      top: 0;
      left: 0;
      width: toRem(13);
    }
    &::after {
      bottom: 0;
      width: toRem(13);
    }
    span {
      top: calc(50% - toRem(2));
    }
    // .menu-open & {
    //   span {
    //     width: 0;
    //   }
    //   &::before,
    //   &::after {
    //   }
    //   &::before {
    //     top: calc(50% - toRem(1));
    //     transform: rotate(-45deg);
    //   }
    //   &::after {
    //     bottom: calc(50% - toRem(1));
    //     transform: rotate(45deg);
    //   }
    // }
  }
}
